.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.container>section {
    margin: 1.6em;
    text-align: center;
    font-size: 1.9em;
    width: calc(15% - 1.5em);
    background-color: aquamarine;
    padding: .5rem;
}

.container>section:hover {
    color: blue;
    background-color: brown;

}